<div{{ attributes }}>
    {{ form_row(form.content, {
        attr: {
            'data-action': 'live#updateDefer',
        },
        help: 'Type markdown here and see its preview'
    }) }}

    <div class="markdown-preview">
        {{ field_value(form.content)|markdown_to_html }}
    </div>
</div>
