<div{{ attributes }}>
    {% if pollLength %}
        data-poll="delay({{ pollLength }})|$render"
    {% else %}
        data-poll
    {% endif %}
>
    {#
        data-poll="750"
        data-poll="delay(750)|save"
    #}
    Time: {{ now }}
    <br>
    <textarea>try modifying me... i won't get replaced!</textarea>
</div>
